
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name ="description" content= "burada adidas ayakkabıları satılır"/>
    <meta name="keywords" content="adidas , ayakabı , nike" />
    <meta name="author" content="ibocan" />

    <title>DiscountPage</title>

    <!--sitemap.xml da kullanabilrisin çok büyük puan kazandırır -->
        <!--sitemap.xml da kullanabilrisin çok büyük puan kazandırır -->
    <!--sitemap.xml da kullanabilrisin çok büyük puan kazandırır -->
    <!--sitemap.xml da kullanabilrisin çok büyük puan kazandırır -->
    <!--sitemap.xml da kullanabilrisin çok büyük puan kazandırır -->
    <!--sitemap.xml da kullanabilrisin çok büyük puan kazandırır -->
    <!--sitemap.xml da kullanabilrisin çok büyük puan kazandırır -->

        <!--sitemap.xml da kullanabilrisin çok büyük puan kazandırır -->
    <!--sitemap.xml da kullanabilrisin çok büyük puan kazandırır -->
    <!--sitemap.xml da kullanabilrisin çok büyük puan kazandırır -->
    <!--sitemap.xml da kullanabilrisin çok büyük puan kazandırır -->

        <!--sitemap.xml da kullanabilrisin çok büyük puan kazandırır -->

            <!--sitemap.xml da kullanabilrisin çok büyük puan kazandırır -->

                <!--sitemap.xml da kullanabilrisin çok büyük puan kazandırır -->

                    <!--sitemap.xml da kullanabilrisin çok büyük puan kazandırır -->
                      <!--sitemap.xml da kullanabilrisin çok büyük puan kazandırır -->
        <!--sitemap.xml da kullanabilrisin çok büyük puan kazandırır -->
    <!--sitemap.xml da kullanabilrisin çok büyük puan kazandırır -->
    <!--sitemap.xml da kullanabilrisin çok büyük puan kazandırır -->
    <!--sitemap.xml da kullanabilrisin çok büyük puan kazandırır -->
    <!--sitemap.xml da kullanabilrisin çok büyük puan kazandırır -->
    <!--sitemap.xml da kullanabilrisin çok büyük puan kazandırır -->

        <!--sitemap.xml da kullanabilrisin çok büyük puan kazandırır -->
    <!--sitemap.xml da kullanabilrisin çok büyük puan kazandırır -->
    <!--sitemap.xml da kullanabilrisin çok büyük puan kazandırır -->
    <!--sitemap.xml da kullanabilrisin çok büyük puan kazandırır -->

        <!--sitemap.xml da kullanabilrisin çok büyük puan kazandırır -->

            <!--sitemap.xml da kullanabilrisin çok büyük puan kazandırır -->

                <!--sitemap.xml da kullanabilrisin çok büyük puan kazandırır -->

                    <!--sitemap.xml da kullanabilrisin çok büyük puan kazandırır -->

                      <!--sitemap.xml da kullanabilrisin çok büyük puan kazandırır -->
        <!--sitemap.xml da kullanabilrisin çok büyük puan kazandırır -->
    <!--sitemap.xml da kullanabilrisin çok büyük puan kazandırır -->
    <!--sitemap.xml da kullanabilrisin çok büyük puan kazandırır -->
    <!--sitemap.xml da kullanabilrisin çok büyük puan kazandırır -->
    <!--sitemap.xml da kullanabilrisin çok büyük puan kazandırır -->
    <!--sitemap.xml da kullanabilrisin çok büyük puan kazandırır -->

        <!--sitemap.xml da kullanabilrisin çok büyük puan kazandırır -->
    <!--sitemap.xml da kullanabilrisin çok büyük puan kazandırır -->
    <!--sitemap.xml da kullanabilrisin çok büyük puan kazandırır -->
    <!--sitemap.xml da kullanabilrisin çok büyük puan kazandırır -->

        <!--sitemap.xml da kullanabilrisin çok büyük puan kazandırır -->

            <!--sitemap.xml da kullanabilrisin çok büyük puan kazandırır -->

                <!--sitemap.xml da kullanabilrisin çok büyük puan kazandırır -->

                    <!--sitemap.xml da kullanabilrisin çok büyük puan kazandırır -->




</head>
<body>
</body>
</html>
